.download {
    margin: 106px 0 85px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__version {
        width: 670px;
    }
    &__version-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__version-btns {
        width: 270px;
        margin-bottom: 50px;
    }
    &__version-btn {
        margin-top: 20px;
        width: 100%;
        filter: drop-shadow(0px 4px 12px rgba(195, 166, 198, 0.35));
    }
    &__version-text p {
        margin-bottom: 15px;
    }
    &__version-text p span {
        color: #704770;
    }
    &__params {
        width: 370px;
        height: 398px;
        background: linear-gradient(86.29deg, rgba(253, 212, 241, 0.25) -7.65%, rgba(209, 191, 243, 0.25) 104.16%);
        border-radius: 4px;
    }
    &__params-title {
        padding: 50px 39px 0 50px;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        color: #6B4185;
    }
    &__params-content {
        padding: 50px;
        display: flex;
        justify-content: space-between;
    }
    &__params-item {
        margin-bottom: 30px;
    }
    &__params-name {
        text-align: right;
    }
}