.footer {
  height: 438px;

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
  }

  &__content-item {
    margin-bottom: 15px;
  }
  
  &__content-link {
    color: #704770;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.03em;
    transition: all .3s ease-in;
    &:hover {
      color: #4749A3;
      text-shadow: 0 2px 3px rgba(116, 63, 109, 0.4);
    }
    & svg path {
      transition: all .3s ease-in;
    }
    &:hover svg path {
      fill: #4749A3;
      box-shadow: 0 2px 3px rgba(116, 63, 109, 0.4);
    }
    &.social {
      display: flex;
      align-items: center;
    }
    & span {
      padding-left: 15px;
    }
  }

  &__copy {
    background: rgba(245, 228, 243, 0.4);
    padding: 25px 0;
  }

  &__copy_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copy-item {
    color: #B698B5;
    font-size: 14px;
    line-height: 19px;
  }
}
