.hall {
    margin: 110px 0 100px;
    &__table {
        width: 100%;
        background: linear-gradient(86.29deg, rgba(253, 212, 241, 0.25) -7.65%, rgba(209, 191, 243, 0.25) 104.16%);
        border-radius: 4px;
        padding: 50px;
        margin-bottom: 50px;
    }
    &__table-title {
        color: #4749A3;
        margin-bottom: 50px;
    }
    &__table-head td {
        color: #4749A3;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
    }
    &__table-row td {
        padding: 30px 0 10px;
        text-align: center;
        border-bottom: 1px solid rgba(188, 154, 191, 0.25);
    }
    &__table-row,
    &__table-nickname,
    &__table-level,
    &__table-power {
        width: 25%;
    }
}