.header {
    height: 80px;
    position: relative;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
    }
    &__lang {
        font-family: 'Philosopher', sans-serif;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        z-index: 8;
    }
}

.menu {
    &__item {
        display: inline-block;
        transition: all .3s ease-in-out;
        &+.menu__item {
            padding-left: 60px;
        }
        &:hover {
            color: #4749A3;
        }
        // &.active {
        //     color: #fff;
        // }
        // &.active .menu__item__link::after {
        //     opacity: 1;
        // }
    }
    &__item__link {
        font-family: 'Philosopher', sans-serif;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0.03em;
        z-index: 5;
        position: relative;
        &::after {
            opacity: 0;
            content: url(../../img/menu-hover.png);
            width: 114px;
            height: 84px;
            position: absolute;
            left: 50%;
            top: 55%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }
    &__item__link-big::after {
        content: url(../../img/menu_hover_big.png);
        left: 28%;
        top: 65%;
    }
}