.header {
    height: 80px;
    position: relative;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
    }
    &__lang {
        font-family: 'Philosopher', sans-serif;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        z-index: 8;
    }
}

.menu {
    &__item {
        display: inline-block;
        & + .menu__item {
            padding-left: 60px;
        }
    }
    &__item__link {
        display: inline-block;
        font-family: 'Philosopher', sans-serif;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0.03em;
        z-index: 5;
        position: relative;
        transition: all .5s ease-in-out;
        &:hover {
            color: #4749A3;
            text-shadow: 0 2px 3px rgba(116, 63, 109, 0.4);
        }
    }
}