<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav>
                <ul class="menu">
                    <li class="menu__item">
                        <a href="../index.html" class="menu__item__link">Главная</a>
                    </li>
                    <li class="menu__item">
                        <a href="../download.html" class="menu__item__link">Скачать</a>
                    </li>
                    <li class="menu__item">
                        <a href="../rules.html" class="menu__item__link">Правила</a>
                    </li>
                    <li class="menu__item">
                        <a href="../donations.html" class="menu__item__link menu__item__link-big">Пожертвования</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__item__link">Медиа</a>
                    </li>
                </ul>
            </nav>
            <div class="header__lang">RU</div>
        </div>
    </div>
</header>