<section class="news">
    <div class="news__links">
        <a href="../news-pages.html" class="news__link-active">Последние новости</a>
        <a href="../news-pages.html" class="news__link">Все новости</a>
    </div>

    <div class="news__inner">
        <div class="news__items">

            <a class="news__item" href="../news-box.html" style="background-image: url(../img/news/news1.webp);">
                <div class="news__item-content big">
                    <div class="news__item-data big">
                        22.02.2021
                        <span>Важное</span>
                    </div>
                    <h4 class="news__item-title big">Новые правила</h4>
                    <p class="news__item-text big">
                        Это необходимо для того, чтобы мы могли иметь больший контроль над передачей, продажей и покупкой аккаунтов, а также любых игровых ценностей за неигровую валюту
                    </p>
                </div>
            </a>

            <a class="news__item" href="#" style="background-image: url(../img/news/news2.webp);">
                <div class="news__item-content">
                    <div class="news__item-data">
                        10.09.2021
                        <span>Акции</span>
                    </div>
                    <h4 class="news__item-title">Бонусы при пожертвованиях</h4>
                    <p class="news__item-text">
                        До 4 августа включительно при пожертвовании на любую сумму вы получите на 50% больше жемчуга!
                    </p>
                </div>
            </a>

            <a class="news__item" href="#" style="background-image: url(../img/news/news3.webp);">
                <div class="news__item-content">
                    <div class="news__item-data">
                        20.07.2021
                        <span>Обновления</span>
                    </div>
                    <h4 class="news__item-title">Обновление 5.0.4</h4>
                    <p class="news__item-text">
                        Исправлена ошибка, из-за которой невозможно было создать некоторые виды снаряжения в ремесле или у NPC...
                    </p>
                </div>
            </a>

            <a class="news__item" href="#" style="background-image: url(../img/news/news4.webp);">
                <div class="news__item-content">
                    <div class="news__item-data">
                        16.04.2022
                        <span>Важное</span>
                    </div>
                    <h4 class="news__item-title">Переход на новую версию</h4>
                    <p class="news__item-text">
                        Попробуйте новую версию игры, скачав для этого специальный клиент.
                    </p>
                </div>
            </a>

            <a class="news__item animated" href="#" style="background-image: url(../img/news/news5.webp);">
                <div class="news__item-content">
                    <div class="news__item-data">
                        01.02.2022
                        <span>Важное</span>
                    </div>
                    <h4 class="news__item-title">Планы на ближайшие обновления</h4>
                    <p class="news__item-text">
                        Рассказываем о планах на ближайшие обновления.
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="news__download">
        <div class="news__download-content">
            <h2 class="title news__download-title">
                Станьте частью эпического приключения!
            </h2>
            <p class="news__download-text">
                Простая установка, клиент локализован под русскую и английскую версии. Множество игроков уже ждёт вас!
            </p>
            <a class="news__download-link" href="../download.html">
                Читать подробности
            </a>
            <button class="news__btn btn-purple" id="download">
                Скачать
            </button>
        </div>
    </div>
</section>