@mixin btn {
    height: 65px;
    border-radius: 4px;
    font-family: 'Philosopher', sans-serif;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.03em;
    cursor: pointer;
    text-align: center;
    border: none;
    padding: 20px 0;
    outline: transparent;
    transition: all .5s ease-in-out;
}

@mixin purple_btn {
    @include btn;
    background: linear-gradient(95.27deg, #6B4185 0%, #4749A3 100%);
    color: #fff;
}

@mixin purple_btn_hover {
    box-shadow: 0px 10px 30px rgba(88, 69, 148, 0.75)
}

@mixin purple_btn_active {
    background: linear-gradient(95.27deg, #37144D 0%, #1C1E6B 100%);
}

@mixin white_btn {
    @include btn;
    background: rgba(255, 255, 255, 0.65);
    color: #6B4185;
}

@mixin white_btn_hover {
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 10px 30px rgba(195, 166, 198, 0.65);
}

@mixin white_btn_active {
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 16px 40px #C3A6C6;
}